@import "tailwindcss";

@theme {
    --font-sans: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    --color-primary-50: #FAF5FF;
    --color-primary-100: #F3E8FF;
    --color-primary-200: #E9D5FF;
    --color-primary-500: #A855F7;
    --color-primary-600: #9333EA;
    --color-primary-700: #7C3AED;
    --color-primary-800: #6B21A8;

    --shadow-card: 0px 2px 24.9px -4px rgba(0, 0, 0, 0.08);
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
